body {
  margin: 0;
  background: #253338;
  color: white;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
figure {
  margin: 0;
}

.routes {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 800px) {
  .routes {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .routes {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1600px) {
  .routes {
    grid-template-columns: repeat(5, 1fr);
  }
}

.route {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 4px;
  background: #384144;
  flex-grow: 1;
  justify-content: space-between;
}

.route img {
  width: 100%;
}
.route figcaption {
  text-align: center;
  font-size: 18px;
}
