@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-800;
  color: white;
}

.routes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (min-width: 600px) {
  .routes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 900px) {
  .routes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1200px) {
  .routes-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.route-image-holder {
  max-height: 80vh;
}
@media screen(md) {
  .route-image-holder {
    max-height: calc(100vh - 4rem);
  }
}
